/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */

body {
    background-color: gray;
    font-family: "Helvetica Neue", "Lucida Grande", "Calibri", "Arial", sans-serif;
}

a {
    color: orangered;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.container {
    margin: 1em;
    padding: 1em;
    background-color: white;
}

.debug_dump {
    padding: 4px;
    background-color:  lightslategray;
    color: white;
    font-size: 10px;
    border: 1px solid #333333;
}